@font-face {
  font-family: "iconfont"; /* Project id 5175856 */
  src: url('iconfont.woff2?t=1778586935290') format('woff2'),
       url('iconfont.woff?t=1778586935290') format('woff'),
       url('iconfont.ttf?t=1778586935290') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e656";
}

.icon-fujian:before {
  content: "\e88a";
}

.icon-simangxing:before {
  content: "\e7e2";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-qunliaox:before {
  content: "\e6e2";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-gouxuan:before {
  content: "\e648";
}

.icon-weixin:before {
  content: "\e63f";
}

.icon-gouxuan1:before {
  content: "\e65c";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-xihuan1:before {
  content: "\e870";
}

.icon-wode:before {
  content: "\e605";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-bianji:before {
  content: "\e607";
}

.icon-jiahao_o:before {
  content: "\eb78";
}

.icon-QQ:before {
  content: "\e83d";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-tongzhi:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e668";
}

.icon-gengduo:before {
  content: "\e64d";
}

.icon-pengyouquan:before {
  content: "\e635";
}

.icon-tupian:before {
  content: "\e811";
}

.icon-shipin:before {
  content: "\e812";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-dongtai:before {
  content: "\e7ae";
}

.icon-fanhui:before {
  content: "\e63e";
}

.icon-neirongchuangzuo:before {
  content: "\e61d";
}

.icon-comment:before {
  content: "\e631";
}

.icon-fenxiang:before {
  content: "\e891";
}

.icon-zhinengti:before {
  content: "\e600";
}

